@media (min-width: 320px) {
  .seÑtion-fifteen {
    padding-top: rem(46);
  }

  .top__left {
    margin-bottom: rem(25);
  }

  .top__left > .main__title {
    margin-bottom: rem(15.25);
  }

  .top__left > .title__text {
    margin-bottom: 0;
    max-width: 58%;
  }

  .right__img {
    margin: 0;
    min-width: 100%;
  }

  .top__right {
    margin-bottom: rem(20);
  }

  .mid__left {
    padding-left: rem(51.5);
  }

  .black-title {
    @include title;
    font-size: $textSizeMobile;
    line-height: rem(13);
    max-width: 54%;
    margin-bottom: rem(11.5);
  }

  .left__text {
    font-size: $textSizeMobile;
    max-width: 80%;
    margin-bottom: rem(20);
  }

  .mid__right {
    display: none;
  }

  .left-box__text {
    max-width: 90%;
  }

  .list__item--price {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 0;
  }

  .blue-text {
    padding-top: rem(6);
    font-family: "Acrom-medium", sans-serif;
    font-size: rem(11.31);
    max-width: 51%;
    line-height: rem(19.39);
  }

  .wow-box {
    max-width: 42%;
    display: inline;
  }

  .old-price {
    display: inline;
    text-decoration: line-through;
    font-family: "Acrom-extrabold", sans-serif;
    font-size: rem(11.31);
    color: #3c3b40;
  }

  .new-price {
    font-family: "Acrom-extrabold", sans-serif;
    font-size: rem(24.24);
  }

  .small-uah {
    font-size: rem(12.93);
  }
}
