/* ACROM REGULAR */

@font-face {
  font-family: "Acrom-regular";
  font-style: normal;
  font-weight: 400;
<<<<<<< HEAD
  src: url('/fonts/Acrom-Regular.ttf') format('truetype');
=======
<<<<<<< HEAD
  src: url('/fonts/Acrom-Regular.ttf') format('truetype');
=======
  src: url("/fonts/Acrom-Regular.ttf") format("truetype");
>>>>>>> master
>>>>>>> master
}

/* ACROM MEDIUM */
@font-face {
  font-family: "Acrom-medium";
  font-style: normal;
  font-weight: 600;
<<<<<<< HEAD
  src: url('/fonts/Acrom-Medium.ttf') format('truetype');
=======
<<<<<<< HEAD
  src: url('/fonts/Acrom-Medium.ttf') format('truetype');
=======
  src: url("/fonts/Acrom-Medium.ttf") format("truetype");
>>>>>>> master
>>>>>>> master
}

/* ACROM BOLD */
@font-face {
  font-family: "Acrom-bold";
  font-style: normal;
  font-weight: 800;
<<<<<<< HEAD
  src: url('/fonts/Acrom-Bold.ttf') format('truetype');
=======
<<<<<<< HEAD
  src: url('/fonts/Acrom-Bold.ttf') format('truetype');
=======
  src: url("/fonts/Acrom-Bold.ttf") format("truetype");
>>>>>>> master
>>>>>>> master
}

/* ACROM EXTRABOLD */
@font-face {
  font-family: "Acrom-extrabold";
  font-style: normal;
  font-weight: 900;
<<<<<<< HEAD
  src: url('/fonts/Acrom-ExtraBold.ttf') format('truetype');
=======
<<<<<<< HEAD
  src: url('/fonts/Acrom-ExtraBold.ttf') format('truetype');
=======
  src: url("/fonts/Acrom-ExtraBold.ttf") format("truetype");
>>>>>>> master
>>>>>>> master
}


/* MininPro REGULAR */
@font-face {
  font-family: "MinionPro-regular";
  font-style: normal;
  font-weight: 400;
<<<<<<< HEAD
  src: url('/fonts/MinionPro-Regular.ttf') format('truetype');
=======
<<<<<<< HEAD
  src: url('/fonts/MinionPro-Regular.ttf') format('truetype');
=======
  src: url("/fonts/MinionPro-Regular.ttf") format("truetype");
>>>>>>> master
>>>>>>> master
}

/* GILROY LIGHT */
@font-face {
  font-family: "Gilroy-light";
  font-style: normal;
  font-weight: 300;
<<<<<<< HEAD
  src: url('/fonts/Gilroy-Light.ttf') format('truetype');
=======
<<<<<<< HEAD
  src: url('/fonts/Gilroy-Light.ttf') format('truetype');
=======
  src: url("/fonts/Gilroy-Light.ttf") format("truetype");
>>>>>>> master
>>>>>>> master
}
