@media (min-width: 320px) {
  .sextion-fourteen {
    padding-top: rem(41.5);
  }

  .main__title--fourteen {
    font-size: rem(12);
    text-align: left;
    max-width: 50%;
    margin: auto;
    margin-bottom: rem(31.12);
  }

  .special--box > .main__text {
    max-width: 87%;
    margin: 0;
    padding-left: rem(13);
    letter-spacing: rem(-0.3);
    margin-bottom: rem(22);
  }

  .special--box > .orange::before {
    left: rem(0);
  }

  .orange-button {
    background: #ff6b08;
    border: 0;
    box-shadow: 0 rem(4) rem(5) #f1d6c5;
    min-width: rem(143);
  }

  .button-text {
    font-family: "Acrom-extrabold", sans-serif;
    color: #fff;
    font-size: rem(7.21);
    text-transform: uppercase;
    margin: auto;
    line-height: rem(30.25);
  }

  .rightside {
    display: none;
  }
}
