* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

<<<<<<< HEAD
.container {
	min-width: rem(320);
	max-width: rem(1440);
	margin: auto;
}
=======
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

>>>>>>> master
